#hiddenMenu {
  width: 10.55vw;
  height: 100vh;
  background-color: #DEE3EB;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#hiddenMenu.hide {
    transform: translate3d(-100vw, 0, 0);
}

#hiddenMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

.menulist {
    margin: 15% 25% 0% 25%;
}